.env
freelance_scraper.egg-info
*.txt
*.log
build.md
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
logs
data
.pytest_cache
settings
config.py
settings.py
.cursorignore
__pycache__
output
.egg-info
job_scraper.egg-info/
llm_api.py
.cursor*
all-mpnet-base-v2
venv